/* CUSTOM PROPORTY */
:root {
  --text-color: #333;
  --accent-color-green: #0a775f;
  --accent-color-green-80: rgba(10,119,95,0.8);
  --accent-color-green-60: rgba(10,119,95,0.8);
  --accent-color-light-brown: #C99B67;
  --accent-color-light-brown-80: rgba(201, 155, 103, 0.8);
  --accent-color-light-brown-60: rgba(201, 155, 103, 0.6);
  --ligth-green-bg: #F8F8F2;
  --outline-color:var(--accent-color-green);
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
/* FONT STYLES  */
@font-face {
  font-family: "Roboto";
  src: url("../Fonts/Roboto-Regular.woff2") format("woff2"),
  url("../Fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family:"Roboto";
  src: url("../Fonts/Roboto-Medium.woff2") format("woff2"),
  url("../Fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../Fonts/Roboto-Bold.woff2") format("woff2"),
  url("../Fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* GLOBAL STYLES */
*,
*::after,
*::before {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--outline-color);
  outline-offset: 3px;
}


body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial",sans-serif;
  color: var(--text-color);
  line-height: 1.75;
  font-size: 16px;

}


.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

img{
  max-width: 100%;
  height: auto;
}

.main-content{
  flex-grow: 1;
}
/* site-wrapper */
.site-header-hero-wrapper {
  background-image: url(../img/site-header-bg.jpg);
  margin-bottom: 20px;
}

.site-header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.site-header-container {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header-logo-link {
  flex-shrink: 0;
  display: flex;
  text-decoration: none;
}
.site-header-logo-img {
  width: 235px;
  height: 24px;
  object-fit: contain;
}

.sitenav-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.sitenav-item:not(:last-child){
  margin-right: 40px;
}
.sitenav-link{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: normal;
  font-weight: bold;
  color: var(--text-color);
  white-space: nowrap;
}
.sitenav-medium-font .sitenav-link{
  font-size: 16px;
  line-height: normal;
}
.sitenav-link:hover{
  color:var(--accent-color-green);
}
.sitenav-link:active{
  opacity: 0.6;
}
.site-header-logo-img:active{
  opacity: 0.6;
}
/* HERO */
.site-hero-container {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}
.site-info-wrapper {
  width: 100%;
  max-width: 730px;
  padding-top: 116px;
  padding-bottom: 100px;
  padding-right: 116px;
  padding-left: 150px;
}
.hero-heading {
  margin-top: 0;
  margin-bottom: 24px;
  line-height: normal;
  color: #000;
  font-size: 64px;
}
.hero-text {
  margin-top: 0;
  margin-bottom: 34px;
  line-height: 1.5;
  font-size: 16px;
}
.hero-buttom {
  display:inline-block;
  padding: 16px 24px;
  letter-spacing: 1px;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  line-height: normal;
}
.hero-buttom-green{
  background-color:var(--accent-color-green) ;
  color: #fff;
}
.hero-buttom-green:hover{
  background-color: var(--accent-color-green-80);
}
.hero-buttom-green:active{
  background-color: var(--accent-color-green-80);
}
.site-hero-img {
  width: 710px;
  height: 696px;
  object-fit: cover;
}
.site-hero-img-index{
  height: 696px;
}
.buttom-brown{
  background-color:var(--accent-color-light-brown);
  color: #fff;
}
.buttom-brown:hover{
  background-color: var(--accent-color-light-brown-80);
}
.buttom-brown:active{
  background-color: var(--accent-color-light-brown-60);
}


/* COLLECTION */

.collection {
  margin-top: 20px;
  margin-bottom:20px;
}
.collection-container {
  padding-top:50px;
  padding-bottom:50px;
  padding-left:133px;
  padding-right:123px;
  background-color:var(--ligth-green-bg);
  background-image: url(../img/collection.jpg);
}

.collection-heading {
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text-color);
  font-style: normal;
  font-size: 50px;
  text-align: center;
}
.collection-info-list {
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: column;
  display: flex;
}
.collection-item {
  justify-content: space-between;
  display: flex;
  list-style: none;
}
.rewers{
  flex-direction: row-reverse;
}
.collection-info{
  flex-grow: 1;
  padding-left: 117px;
  padding-right: 117px;
}
.collection-item-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
.collection-item-text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
}
.collection-item-text:not(:last-child) {
  margin-bottom: 10px;
}
.collection-item-img {
  flex-shrink: 0;
  width: 450px;
  height: 375px;
  object-fit: cover;
}

/* FEATURES */
.index-features {
  margin-bottom: 30px;
}
.index-features-inner {
  background-image: url(../img/index-features-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 700px;
  padding: 50px 30px;
}
.index-features-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 50px;
  line-height:normal;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.index-features-lead {
  max-width: 580px;
  margin-top: 0;
  margin-bottom: 80px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color:#fff
}
.index-features-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -20px;
  list-style: none;
}
.index-features-item {
  width:calc(100% / 3 - 20px);
  margin-left: 20px;
  margin-bottom: 30px;
}
.index-features-item-img {
  width: 433px;
  height: 500px;
  object-fit: cover;
}
.index-features-item-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.index-features-item-text {
    margin: 0;
    font-size: 18px;
    line-height: 28px;
}

/* HOW-IT-WORK */
.how-it-works-inner {
  background-image: url(../img/HOW-IT-BG.jpg);
  padding: 50px 30px;
  background-color: var(--accent-color-green);
  margin-bottom: 50px;
}
.how-it-works-heading {
  font-style: normal;
  line-height: normal;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 80px;
}
.how-it-works-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  list-style:none;
  margin-left: -20px;
  text-align: left;
  counter-reset: how-it-works;
}
.how-it-works-item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
  counter-increment: how-it-works;
}
.how-it-works-item::before{
  width: 60px;
  height: 60px;
  border: 4px solid var(--accent-color-light-brown) ;
  margin-bottom: 20px;
  background-color: var(--ligth-green-bg);
  content: "";
}
.how-it-works-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 20px 40px;
  background-color: var(--ligth-green-bg);
}
.how-it-works-info::before{
  align-self: flex-end;
  font-size: 60px;
  margin-bottom: 45px;
  line-height: normal;
  content: "0" counter(how-it-works);
}
.how-it-works-info-heading {
  margin-top: 0;
  margin-bottom: 10px;
  max-width: 250px;
  font-size: 40px;
  line-height: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.how-it-works-info-text {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
}
.how-it-works-cta:focus{
  outline-color: var(--accent-color-light-brown);
}

/* SITE-FOOTER */
.site-footer {
  padding-top: 65px;
  padding-bottom: 65px;
  background-image: url(../img/site-header-bg.jpg);
}
.site-footer-container {
  display: flex;
  justify-content: space-between;
  align-items:center;

}
.site-footer-logo-link {
  display: flex;
}
.site-footer-logo-img {
  flex-shrink: 0;
  width: 235px;
  height: 24px;
  object-fit: contain;
}
.site-footer-logo-link:hover{
  opacity: 0.8;
}
.site-footer-logo-link:hover{
  opacity: 0.6;
}

.site-footer-socials {
}

/* SOCIALS */
.socials {
  display: flex;
  align-items:center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.socials-item:not(:last-child) {
  margin-right: 30px;
}
.socials-link {
  display: flex;
  color: #333;
}
.socials-link:hover{
  color:green;
}
.socials-link:active{
  opacity: 0.6;
}

/* RETINA BG  */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .form-info-item {
    background-image: url("../img/site-header-bg@2x.jpg");
    }

    .collection-container{
    background-image: url("../img/collection@2x.jpg");
    }

    .index-features-inner{
    background-image: url("../img/index-features-bg@2x.jpg");
    }
    .how-it-works-inner {
      background-image: url("../img/HOW-IT-BG@2x.jpg");
    }
    .site-footer {
      background-image: url("../img/site-header-bg@2x.jpg");
    }
}