/* CUSTOM PROPORTY */
:root {
  --text-color: #333;
  --accent-color-green: #0a775f;
  --accent-color-green-80: rgba(10,119,95,0.8);
  --accent-color-green-60: rgba(10,119,95,0.8);
  --accent-color-light-brown: #C99B67;
  --accent-color-light-brown-80: rgba(201, 155, 103, 0.8);
  --accent-color-light-brown-60: rgba(201, 155, 103, 0.6);
  --ligth-green-bg: #F8F8F2;
  --outline-color:var(--accent-color-green);
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* FONT STYLES  */
@font-face {
  font-family: "Roboto";
  src: url("../Fonts/Roboto-Regular.woff2") format("woff2"),
  url("../Fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family:"Roboto";
  src: url("../Fonts/Roboto-Medium.woff2") format("woff2"),
  url("../Fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../Fonts/Roboto-Bold.woff2") format("woff2"),
  url("../Fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* GLOBAL STYLES */
*,
*::after,
*::before {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--outline-color);
  outline-offset: 3px;
}


body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Roboto", "Arial",sans-serif;
  color: var(--text-color);
  line-height: 1.75;
  font-size: 16px;

}
.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

img{
  max-width: 100%;
  height: auto;
}

.main-content{
  flex-grow: 1;
}
/* site-wrapper */
.site-header-hero-wrapper {
  background-image: url(../img/site-header-bg.jpg);
}

.site-header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.site-header-container {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header-logo{
  position: absolute;
  top:-12%;
  left:-12%  ;
}

.site-header-logo-link {
  flex-shrink: 0;
  display: flex;
  text-decoration: none;
}
.site-header-logo-img {
  width: 235px;
  height: 24px;
  object-fit: contain;
}

.sitenav-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav-item:not(:last-child){
  margin-right: 40px;
}
.sitenav-link{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: normal;
  font-weight: bold;
  color: var(--text-color);
  white-space: nowrap;
  list-style: none;
}
.sitenav-medium-font .sitenav-link{
  font-size: 16px;
  line-height: normal;
}
.sitenav-link:hover{
  color:var(--accent-color-green);
}
.sitenav-link:active{
  opacity: 0.6;
}
.site-header-logo-img:active{
  opacity: 0.6;
}
/* HERO */
.site-hero-container {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}
.site-info-wrapper {
  width: 100%;
  max-width: 730px;
  padding-top: 116px;
  padding-bottom: 100px;
  padding-right: 116px;
  padding-left: 150px;
}
.hero-img-wrapper{
  position: relative;
}
.hero-heading {
  margin-top: 0;
  margin-bottom: 24px;
  line-height: normal;
  color: #000;
  font-size: 64px;
}
.hero-text {
  margin-top: 0;
  margin-bottom: 34px;
  line-height: 1.5;
  font-size: 16px;
}
.hero__about  {
  max-width: 372px;
}
.hero__create{
  max-width: 372px;
}
.hero-buttom {
  display:inline-block;
  padding: 16px 24px;
  letter-spacing: 1px;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  line-height: normal;

}
.hero-buttom-green{
  background-color:var(--accent-color-green) ;
  color: #fff;
}
.hero-buttom-green:hover{
  background-color: var(--accent-color-green-80);
}
.hero-buttom-green:active{
  background-color: var(--accent-color-green-80);
}
.site-hero-img {
  width: 710px;
  height: 696px;
  object-fit: cover;
}
.site-hero-img-index{
  height: 696px;
}
.buttom-brown{
  background-color:var(--accent-color-light-brown);
  color: #fff;
}
.buttom-brown:hover{
  background-color: var(--accent-color-light-brown-80);
}
.buttom-brown:active{
  background-color: var(--accent-color-light-brown-60);
}


/* COLLECTION */

.collection {
  margin-top: 20px;
  margin-bottom:20px;
}


.main-logo-first{
  position: absolute;
  z-index: 1;
  left: -20px;
  top: 300px;

}
.main-logo-second{
  position: absolute;
  z-index: 1;
  right: -20px;
  top :1084px;
}

.main-logo-second-half{
  position: absolute;
  z-index: 1;
  right: -20px;
  top :1254px;
}

.main-logo-third{
  position: absolute;
  z-index: 1;
  left: -5px;
  top: 1490px;
}

.collection-container {
  position: relative;
  padding-top:50px;
  padding-bottom:50px;
  padding-left:133px;
  padding-right:123px;
  background-color:var(--ligth-green-bg);
  background-image: url(../img/collection.jpg);
}

.collection-heading {
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  font-style: normal;
  font-size: 50px;
  text-align: center;
}
.collection-info-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1114px;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  list-style: none;
}
.collection-item {
  display: flex;
  align-items: center;
}
.rewers{
  flex-direction: row-reverse;
}
.collection-info{
  padding-left: 117px;
  padding-right: 117px;
}
.collection-item-heading {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.collection-item-text {
  width: 100%;
  max-width: 400px;
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 34px;
}
.collection-item-text:not(:last-child) {
  margin-bottom: 10px;
}
.collection-item-img {
  flex-shrink: 0;
  width: 450px;
  height: 375px;
  object-fit: cover;
}

/* FEATURES */
.index-features {
  margin-bottom: 30px;
}
.index-features-inner {
  position: relative;
  background-image: url(../img/index-features-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 700px;
  padding: 50px 30px;
}
.main-logo-fourth{
    position: absolute;
    top: 233px;
    transform: translateX(-15%);
}
.index-features-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 50px;
  line-height:normal;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.index-features-lead {
  max-width: 580px;
  margin-top: 0;
  margin-bottom: 80px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color:#fff
}
.index-features-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -20px;
  list-style: none;
}
.index-features-item {
  width:calc(100% / 3 - 20px);
  margin-left: 20px;
  margin-bottom: 30px;
}
.index-features-item-img {
  width: 433px;
  height: 500px;
  object-fit: cover;
}
.index-features-item-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.index-features-item-text {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
}

/* HOW-IT-WORK */
.how-it-works{
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.how-it-works__container{
  position: relative;
}
.main-logo-fifth{
  position: absolute;
  top: 70px;
  right: 83px;
}
.how-it-works-inner {
  background-image: url(../img/HOW-IT-BG.jpg);
  padding: 50px 30px;
  background-color: var(--accent-color-green);
  margin-bottom: 50px;
  text-align: center;
}
.how-it-works-heading {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
}
.dashed-line{
  position: absolute;
  width: 899px;
  border: 3px dashed var(--accent-color-light-brown);
  z-index: 1;
  top: 219px;
}
.create__dashed-line{
  top: 80px;
}
.how-it-works-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  list-style:none;
  margin-left: -20px;
  text-align: left;
  counter-reset: how-it-works;
}
.how-it-works-item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
}
.how-it-works-item::before{
  width: 60px;
  height: 60px;
  border: 4px solid var(--accent-color-light-brown) ;
  margin-bottom: 20px;
  background-color: var(--ligth-green-bg);
  content: "";
  z-index: 122;
}
.how-it-works-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 20px 40px;
  background-color: var(--ligth-green-bg);
}
.how-it-works-info::before{
  align-self: flex-end;
  font-size: 60px;
  margin-bottom: 45px;
  line-height: normal;
  content: "0" counter(how-it-works);
}
.how-it-works-info-heading {
  margin-top: 0;
  margin-bottom: 10px;
  max-width: 250px;
  font-size: 40px;
  line-height: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.how-it-works-info-text {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
}
.how-it-works-cta:focus{
  outline-color: var(--accent-color-light-brown);
}

/* SITE-FOOTER */
.site-footer {
  padding-top: 65px;
  padding-bottom: 65px;
  background-image: url(../img/site-header-bg.jpg);
  margin-top: auto;
}
.site-footer-container {
  display: flex;
  justify-content: space-between;
  align-items:center;

}
.site-footer-logo-link {
  display: flex;
}
.site-footer-logo-img {
  flex-shrink: 0;
  width: 235px;
  height: 24px;
  object-fit: contain;
}
.site-footer-logo-link:hover{
  opacity: 0.8;
}
.site-footer-logo-link:hover{
  opacity: 0.6;
}



/* SOCIALS */
.socials {
  display: flex;
  align-items:center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.socials-item:not(:last-child) {
  margin-right: 30px;
}
.socials-link {
  display: flex;
  color: #333;
}
.socials-link:hover{
  color:green;
}
.socials-link:active{
  opacity: 0.6;
}

/* COMMITMENT */


.commitment {
  margin-top: 20px;
}
.commitment__container{
  position: relative;
}
.commitment__first-page{
  position: relative;
  display: flex;
  align-items: center;
  padding: 149px 74px 211px 155px;
  background-image: url(../img/commitment-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 160px;
}
.commitment__img-wrapper {
  display: flex;
}
.commitment__img {
  width: 360px;
  height: 364px;
  object-fit: contain;
}

.commitment__info-wrapper {
  width: 100%;
  max-width: 626px;
  margin-left: 185px;
}
.commitment__logo {
  position: absolute;
  top: 50px;
  left: -50px;

}
.commitment__heading {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 24px;
}
.commitment__text {
  margin: 0;
  padding: 0;
}
/* COMMITMENT  */


/* HERO-TWO */
.hero-two {
  padding: 100px 30px 90px 143px;
  background-color:var(--accent-color-light-brown);
  margin-bottom: 20px;
}
.hero-two__wrapper {
  position: relative;
  display: flex;
  align-items:center;
}
.hero-two__info-wrapper {
  width: 100%;
  max-width: 639px;
}
.hero-two__heading {
  width: 100%;
  max-width: 397px;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.hero-two__text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.8;
}
.hero-two__img{
  position: absolute;
  right: 0;
  top: -170px;
  width: 550px;
  height: 500px;
  object-fit: cover;
}
/* HERO-TWO */

/* CTA */

.CTA__container {
  margin-bottom: 50px;

  /* background-image:url(../img/HOW-IT-BG.jpg); */
}
.CTA__inner {
  padding: 50px 30px 100px ;
  background-image:url(../img/HOW-IT-BG.jpg);
}
.CTA__heading {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 80px;
  text-transform: uppercase;
}
.CTA__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}
.CTA__item {
  position: relative;
  width: 100%;
  max-width: 433px;
  min-height: 396px;
  background-color:var(--ligth-green-bg);
  padding: 140px 55px 40px 20px;
}
.CTA__info-wrapper {
  display: flex;
  flex-direction: column;
}
.CTA__item-title {
  width: 100%;
  max-width: 231px;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}
.CTA__item-text {
  display:block;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
  margin: 0;
  padding: 0;
}
.CTA__item-img {
  position: absolute;
  top: 45px;
  right: 55px;
  background-color:transparent

}
/* CTA  */

/* RETINA-BG  */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .top-color {
    background-image: url(../img/site-bg/main-watermark@2x.jpg);
  }

  .hero-one {
    background-image: url(../img/site-bg/hero-one-bg@2x.jpg);
  }

  .hero-two {
    background-image: url(../img/site-bg/hero-two@2x.jpg);
  }

  .hero-three {
    background-image: url(../img/site-bg/hero-three@2x.jpg);
  }

  .checkbox-input-inner {
    background-image: url(../img/card-box-bg@2x.jpg);
  }

}
/* RETINA BG  */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .form-info-item {
    background-image: url("../img/site-header-bg@2x.jpg");
  }

  .collection-container{
    background-image: url("../img/collection@2x.jpg");
  }

  .index-features-inner{
    background-image: url("../img/index-features-bg@2x.jpg");
  }
  .how-it-works-inner {
    background-image: url("../img/HOW-IT-BG@2x.jpg");
  }
  .site-footer {
    background-image: url("../img/site-header-bg@2x.jpg");
  }
}